# Polarization Calculation 2000

In [2]:
import pandas as pd
import os
import time
import numpy as np

In [3]:
os.chdir(r"A:\UW-Madison\GIS SPRING 2023\Geog 575\Final_Project\SPSS_Processed\UKDA-5151-spss\spss\spss19")

In [4]:
df_residence = pd.read_csv(r"A:\UW-Madison\GIS SPRING 2023\Geog 575\Final_Project\SPSS_Processed\UKDA-5151-spss\spss\spss19\bhps_w10\jindresp.csv")

C:\Users\ramak\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (6,7,29,879,880,993,1104,1156,1212,1216,1217) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [5]:
print(list(df_residence.columns))

['Unnamed: 0', 'jhid', 'jpno', 'jdoid', 'jdoim', 'jdoiy4', 'jivsoih', 'jivsoim', 'jivlyr', 'jivstat2', 'jlknbrd', 'jlkmove', 'jlkmovy', 'jxpmove', 'jplnew', 'jplnowm', 'jplnowy4', 'jmovjb', 'jmovjba', 'jmovjbb', 'jmovjbc', 'jmovjbd', 'jmovjbe', 'jmovjbf', 'jmovjbg', 'jmovjbh', 'jmovjbi', 'jmovy1', 'jmovy2', 'jdoby', 'jsex', 'jjbstat', 'jedlyr', 'jedtype1', 'jedblyr1', 'jedbgm1', 'jedbgy1', 'jedenm1', 'jedeny1', 'jedenne1', 'jedfeea1', 'jedfeeb1', 'jedfeec1', 'jedfeed1', 'jedfeee1', 'jedfeef1', 'jedfeeg1', 'jedqual1', 'jedqnn1', 'jedqla1', 'jedqlb1', 'jedqlc1', 'jedqld1', 'jedqle1', 'jedqlf1', 'jedqlg1', 'jedqlh1', 'jedqli1', 'jedqlj1', 'jedqlan1', 'jedqlbn1', 'jedqlcn1', 'jedqldn1', 'jedqlen1', 'jedqlfn1', 'jedqlgn1', 'jedqlhn1', 'jedqlin1', 'jedqljn1', 'jedoqln1', 'jedoql1', 'jedmore1', 'jedtype2', 'jedblyr2', 'jedbgm2', 'jedbgy2', 'jedenm2', 'jedeny2', 'jedenne2', 'jedfeea2', 'jedfeeb2', 'jedfeec2', 'jedfeed2', 'jedfeee2', 'jedfeef2', 'jedfeeg2', 'jedqual2', 'jedqnn2', 'jedqla2', 'jedqlb2', 'jedqlc2', 'jedqld2', 'jedqle2', 'jedqlf2', 'jedqlg2', 'jedqlh2', 'jedqli2', 'jedqlj2', 'jedqlan2', 'jedqlbn2', 'jedqlcn2', 'jedqldn2', 'jedqlen2', 'jedqlfn2', 'jedqlgn2', 'jedqlhn2', 'jedqlin2', 'jedqljn2', 'jedoqln2', 'jedoql2', 'jedmore2', 'jmlstat', 'jmlchng', 'jmlchm', 'jmlchy4', 'jyr2uk4', 'jrace', 'jpaju', 'jpasemp', 'jpaboss', 'jpamngr', 'jmaju', 'jmasemp', 'jmaboss', 'jmamngr', 'jj1none', 'jj1semp', 'jj1boss', 'jj1mngr', 'jlcoh', 'jcoh1by', 'jcoh1mr', 'jcoh1em', 'jcoh1ey', 'jnmar', 'jlmar1y', 'jlprnt', 'jlnprnt', 'jch1by', 'jschool', 'jscend', 'jsctype', 'jscnow', 'jfetype', 'jfenow', 'jfeend', 'jqfhas', 'jqfa', 'jqfb', 'jqfc', 'jqfd', 'jqfe', 'jqff', 'jqfg', 'jqfh', 'jqfi', 'jqfj', 'jqfk', 'jqfl', 'jqfm', 'jqfn', 'jqfed', 'jqfeda', 'jnqfeda', 'jqfedb', 'jnqfedb', 'jqfedc', 'jnqfedc', 'jqfedd', 'jnqfedd', 'jqfede', 'jnqfede', 'jqfedf', 'jnqfedf', 'jqfedg', 'jnqfedg', 'jqfedh', 'jnqfedh', 'jqfedi', 'jnqfedi', 'jqfedj', 'jnqfedj', 'jqfedt', 'jnqfedt', 'jqfedk', 'jnqfedk', 'jqfedl', 'jnqfedl', 'jqfedm', 'jnqfedm', 'jqfedn', 'jnqfedn', 'jqfedo', 'jnqfedo', 'jqfedp', 'jnqfedp', 'jqfedq', 'jnqfedq', 'jqfedr', 'jnqfedr', 'jqfeds', 'jnqfeds', 'jtrain', 'jntrain', 'jtrplce1', 'jtrwhya1', 'jtrwhyb1', 'jtrwhyc1', 'jtrwhyd1', 'jtrwhye1', 'jtrq1', 'jtru1', 'jtrfeea1', 'jtrfeeb1', 'jtrfeec1', 'jtrfeee1', 'jtrfeef1', 'jtrfeeg1', 'jtrqlxp1', 'jtrqlac1', 'jtrqlnn1', 'jtrqla1', 'jtrqlb1', 'jtrqlc1', 'jtrqld1', 'jtrqle1', 'jtrqlf1', 'jtrqlg1', 'jtrqlh1', 'jtrqli1', 'jtrqlj1', 'jtrqlan1', 'jtrqlbn1', 'jtrqlcn1', 'jtrqldn1', 'jtrqlen1', 'jtrqlfn1', 'jtrqlgn1', 'jtrqlhn1', 'jtrqlin1', 'jtrqljn1', 'jtroqln1', 'jtroql1', 'jtrmore1', 'jtrplce2', 'jtrwhya2', 'jtrwhyb2', 'jtrwhyc2', 'jtrwhyd2', 'jtrwhye2', 'jtrq2', 'jtru2', 'jtrfeea2', 'jtrfeeb2', 'jtrfeec2', 'jtrfeee2', 'jtrfeef2', 'jtrfeeg2', 'jtrqlxp2', 'jtrqlac2', 'jtrqlnn2', 'jtrqla2', 'jtrqlb2', 'jtrqlc2', 'jtrqld2', 'jtrqle2', 'jtrqlf2', 'jtrqlg2', 'jtrqlh2', 'jtrqli2', 'jtrqlj2', 'jtrqlan2', 'jtrqlbn2', 'jtrqlcn2', 'jtrqldn2', 'jtrqlen2', 'jtrqlfn2', 'jtrqlgn2', 'jtrqlhn2', 'jtrqlin2', 'jtrqljn2', 'jtroqln2', 'jtroql2', 'jtrmore2', 'jtrplce3', 'jtrwhya3', 'jtrwhyb3', 'jtrwhyc3', 'jtrwhyd3', 'jtrwhye3', 'jtrq3', 'jtru3', 'jtrfeea3', 'jtrfeeb3', 'jtrfeec3', 'jtrfeee3', 'jtrfeef3', 'jtrfeeg3', 'jtrqlxp3', 'jtrqlac3', 'jtrqlnn3', 'jtrqla3', 'jtrqlb3', 'jtrqlc3', 'jtrqld3', 'jtrqle3', 'jtrqlf3', 'jtrqlg3', 'jtrqlh3', 'jtrqli3', 'jtrqlj3', 'jtrqlan3', 'jtrqlbn3', 'jtrqlcn3', 'jtrqldn3', 'jtrqlen3', 'jtrqlfn3', 'jtrqlgn3', 'jtrqlhn3', 'jtrqlin3', 'jtrqljn3', 'jtroqln3', 'jtroql3', 'jbirhh', 'jmabwly', 'jmabwnly', 'jbwtpn1', 'jbwtagm1', 'jbwtxp1', 'jbwtel1', 'jbwtwk1', 'jbwtkn1', 'jbwtlb1', 'jbwtoz1', 'jbwtgm1', 'jbwtg51', 'jbwtpn2', 'jbwtagm2', 'jbwtxp2', 'jbwtel2', 'jbwtwk2', 'jbwtkn2', 'jbwtlb2', 'jbwtoz2', 'jbwtgm2', 'jbwtg52', 'jbwtpn3', 'jbwtagm3', 'jbwtxp3', 'jbwtel3', 'jbwtwk3', 'jbwtkn3', 'jbwtlb3', 'jbwtoz3', 'jbwtgm3', 'jbwtg53', 'jlngeng', 'jlngoth', 'jlngusa', 'jlngusb', 'jlngusn', 'jlngcnv', 'jlngred', 'jlngwke', 'jlngwko', 'jlngwkx', 'jivda', 'jivdb', 'jivdc', 'jivdd', 'jivde', 'jhldsbl', 'jhlstat', 'jhlprb', 'jhlprba', 'jhlprbb', 'jhlprbc', 'jhlprbd', 'jhlprbe', 'jhlprbf', 'jhlprbg', 'jhlprbh', 'jhlprbi', 'jhlprbj', 'jhlprbk', 'jhlprbl', 'jhlprbm', 'jhllt', 'jhllta', 'jhlltb', 'jhlltc', 'jhlltd', 'jhllte', 'jhlltw', 'jhlendw', 'jhlltwa', 'jhliv65', 'jadla', 'jadlad', 'jadlb', 'jadlbd', 'jadlc', 'jadlcd', 'jadld', 'jadldd', 'jadle', 'jadled', 'jadlf', 'jadlfd', 'jhl2gp', 'jhl2hop', 'jxdts', 'jnxdts', 'jhosp', 'jhospd', 'jhospch', 'jhospnhs', 'jhlcvr', 'jhlcvrh', 'jhlcvrl', 'jhlsv', 'jhlsva', 'jhlsvan', 'jhlsvaf', 'jhlsvb', 'jhlsvbn', 'jhlsvbf', 'jhlsvc', 'jhlsvcn', 'jhlsvcf', 'jhlsvd', 'jhlsvdn', 'jhlsvdf', 'jhlsve', 'jhlsven', 'jhlsvef', 'jhlsvf', 'jhlsvfn', 'jhlsvff', 'jhlsvg', 'jhlsvgn', 'jhlsvgf', 'jhlsvh', 'jhlsvhn', 'jhlsvhf', 'jhlsvi', 'jhlsvin', 'jhlsvif', 'jhlsvj', 'jhlsvjn', 'jhlsvjf', 'jhlsvk', 'jhlsvkn', 'jhlsvkf', 'jhlsvl', 'jhlsvln', 'jhlsvlf', 'jhlsvm', 'jhlsvmn', 'jhlsvmf', 'jhlck', 'jhlcka', 'jhlckan', 'jhlckb', 'jhlckbn', 'jhlckc', 'jhlckcn', 'jhlckd', 'jhlckdn', 'jhlcke', 'jhlcken', 'jhlckf', 'jhlckfn', 'jhlckg', 'jhlckgn', 'jhlckh', 'jhlckhn', 'jhlcki', 'jhlckin', 'jsmoker', 'jncigs', 'jophla', 'jophlb', 'jophlc', 'jaidhh', 'jaidhua', 'jaidhub', 'jaidhuc', 'jaidxhh', 'jnaidxhh', 'jaidhu1', 'jaidhu2', 'jaidhrs', 'jivma', 'jivmb', 'jivmc', 'jivmd', 'jivme', 'jjbhas', 'jjboff', 'jjboffy', 'jjbterm1', 'jjbterm2', 'jjbsic', 'jjbsemp', 'jjbmngr', 'jjbsect', 'jjbsize', 'jjbhrs', 'jjbot', 'jjbotpd', 'jjbhrlk', 'jjbpl', 'jjbttwt', 'jjbttwm', 'jjbsat2', 'jjbsat4', 'jjbsat6', 'jjbsat7', 'jjbsat', 'jpaygl', 'jpaygw', 'jpaynl', 'jpaynw', 'jpytc', 'jpywftc', 'jpywftcw', 'jpydptc', 'jpydptcw', 'jpayslp', 'jpayusl', 'jpayu', 'jpayuw', 'jpayug', 'jpaydf1', 'jpaydf2', 'jpaydf3', 'jpaydf4', 'jpaydf5', 'jpaydf6', 'jpaydf7', 'jpaydf8', 'jpaydf9', 'jpaytyp', 'jovtpay', 'jextrate', 'jextrest', 'jbasrate', 'jbasrest', 'jovtrate', 'jovtrest', 'jjbperfp', 'jjbonus', 'jjbonam', 'jjbong', 'jjbrise', 'jtujbpl', 'jtuin1', 'jjbopps', 'jjbtime', 'jjbwkhra', 'jjbwkhrb', 'jjbwkhrc', 'jjbwkhrd', 'jjbwkhre', 'jjbwkhrf', 'jjbwkhrg', 'jjbwkhrh', 'jjbpen', 'jjbpenm', 'jjbbgd', 'jjbbgm', 'jjbbgy4', 'jjbbgly', 'jpays', 'jpaysw', 'jpaysg', 'jpayly', 'jpaylyw', 'jpaylyg', 'jjsboss', 'jjssize', 'jjshrs', 'jjshrlk', 'jjstime', 'jjstypeb', 'jjsaccs', 'jjspart', 'jjsprbm', 'jjsprby4', 'jjsprem', 'jjsprey4', 'jjsprf', 'jjsprls', 'jjsprtx', 'jjsprni', 'jjspayu', 'jjspayw', 'jjspytx', 'jjspyni', 'jjspl', 'jjsttwt', 'jjsttwm', 'jjssat1', 'jjssat2', 'jjssat4', 'jjssat5', 'jjssat', 'jjsbgd', 'jjsbgm', 'jjsbgy4', 'jjblkcha', 'jjbxpcha', 'jjblkchb', 'jjbxpchb', 'jjblkchc', 'jjbxpchc', 'jjblkchd', 'jjbxpchd', 'jjblkche', 'jjbxpche', 'jrach12', 'jjbchc1', 'jjbchc2', 'jjbchc3', 'jxpchcf', 'jxpchc', 'jhuxpch', 'jhunurs', 'jjulk1', 'jjulk4', 'jjulka', 'jjulkb', 'jjulkc', 'jjulkd', 'jjulke', 'jjulkjb', 'jjubgn', 'jjuspec', 'jjuhrsx', 'jjupayx', 'jjupayl', 'jjuhrsl', 'jeprosh', 'jeaage', 'jjbub', 'jjbuby', 'jj2has', 'jj2semp', 'jj2hrs', 'jj2pay', 'jivea', 'jiveb', 'jivec', 'jived', 'jivee', 'jnemst', 'jcjsbgd', 'jcjsbgm', 'jcjsbgy4', 'jcjsbly', 'jnjbs', 'jjbhad', 'jjlend4', 'jjlsic', 'jjlsemp', 'jjlboss', 'jjlmngr', 'jjlsize', 'jivja', 'jivjb', 'jivjc', 'jivjd', 'jivje', 'jopsoca', 'jopsocb', 'jopsocc', 'jopsocd', 'jopsoce', 'jopsocf', 'jopcls1', 'jopcls2', 'jopcls3', 'jvote1', 'jvote2', 'jvote3', 'jvote4', 'jvote5', 'jvote7', 'jvote8', 'jlacta', 'jlactb', 'jlactc', 'jlactd', 'jlacte', 'jlactf', 'jlacth', 'jlacti', 'jlactj', 'jlactk', 'jlactl', 'jtrust', 'jfrna', 'jfrnb', 'jfrnc', 'jf101', 'jf102', 'jf103', 'jf104', 'jf105', 'jf106', 'jf116', 'jf118', 'jf119', 'jf121', 'jf122', 'jf124', 'jf125', 'jf126', 'jf127', 'jf128', 'jf132', 'jf142', 'jf135', 'jf136', 'jf137', 'jf138', 'jf139', 'jf140', 'jf141', 'jf151', 'jf152', 'jf153', 'jf154', 'jf155', 'jf156', 'jf157', 'jf158', 'jf159', 'jnf1', 'jfisit', 'jfisitc', 'jfisity', 'jfisitx', 'jfiyrdia', 'jfiyrdb1', 'jfiyrdb2', 'jfiyrdb3', 'jfiyrdb4', 'jfiyrdb5', 'jfiyrdb6', 'jfccard', 'jsave', 'jsaved', 'jsavey1', 'jsavey2', 'jsavreg', 'jsavlt', 'jnvestnn', 'jnvesth', 'jnvesti', 'jnvestj', 'jnvesta', 'jnvestb', 'jnvestc', 'jnvestd', 'jnveste', 'jnvestf', 'jnvestg', 'jsvac', 'jnvest', 'jsvack', 'jsvackb1', 'jsvackb2', 'jsvackb3', 'jsvackb4', 'jsvacsj', 'jsvacsk', 'jsvacsp', 'jnvestk', 'jnvestc1', 'jnvestc2', 'jnvestc3', 'jnvestc4', 'jnvestsj', 'jnvestsk', 'jnvestsp', 'jpppen', 'jpenb4', 'jpenb4y4', 'jpenb4v', 'jpenb4w', 'jpenyr4', 'jpenadd', 'jpenadv', 'jpenadw', 'jwindf', 'jwindfa', 'jwindfay', 'jwindfb', 'jwindfby', 'jwindfc', 'jwindfcy', 'jwindfd', 'jwindfdy', 'jwindff', 'jwindffy', 'jwindfg', 'jwindfgy', 'jwindfh', 'jwindfhy', 'jxpmeal', 'jxpleis', 'jftexhh', 'jftexa', 'jftexa1', 'jftexa2', 'jftexa3', 'jftexa4', 'jftexa5', 'jftexa6', 'jftexav', 'jftexaw', 'jftexb', 'jftexb1', 'jftexb2', 'jftexb3', 'jftexb4', 'jftexb5', 'jftexb6', 'jftexbv', 'jftexbw', 'jftexc', 'jftexc1', 'jftexc2', 'jftexc3', 'jftexc4', 'jftexc5', 'jftexc6', 'jftexcv', 'jftexcw', 'jdebt', 'jdebta', 'jdebtb', 'jdebtc', 'jdebtd', 'jdebte', 'jdebtf', 'jdebtg', 'jdebth', 'jdebti', 'jdebty', 'jdebtc1', 'jdebtc2', 'jdebtc3', 'jdebtc4', 'jdebtsj', 'jdebtsk', 'jdebtsp', 'jdfwld', 'jdfwld1', 'jdfwld2', 'jdfwld3', 'jdfwld4', 'jspinhh', 'jhubuys', 'jhufrys', 'jhumops', 'jhuiron', 'jhhch12', 'jhusits', 'jhowlng', 'jcaruse', 'jmobuse', 'jivfa', 'jivfb', 'jivfc', 'jivfd', 'jivfe', 'jivfoih', 'jivfoim', 'jivsc', 'jiv1', 'jiv2', 'jiv4', 'jiv5', 'jiv5aa', 'jiv5ab', 'jiv5ac', 'jiv6a', 'jiv6b', 'jiv6c', 'jiv6d', 'jiv6e', 'jiv6f', 'jiv7', 'jghqa', 'jghqb', 'jghqc', 'jghqd', 'jghqe', 'jghqf', 'jghqg', 'jghqh', 'jghqi', 'jghqj', 'jghqk', 'jghql', 'jopfamo', 'jopfaml', 'jopfamp', 'jopfamq', 'jopfamk', 'jopfamr', 'jlfsat1', 'jlfsat2', 'jlfsat3', 'jlfsat4', 'jlfsat5', 'jlfsat6', 'jlfsat7', 'jlfsat8', 'jlfsato', 'jlfsatl', 'jnetsx1', 'jnetsx2', 'jnetsx3', 'jnet1wr', 'jnet2wr', 'jnet3wr', 'jnet1rl', 'jnet2rl', 'jnet3rl', 'jnet1ag', 'jnet2ag', 'jnet3ag', 'jnet1kn', 'jnet2kn', 'jnet3kn', 'jnet1ph', 'jnet2ph', 'jnet3ph', 'jnet1lv', 'jnet2lv', 'jnet3lv', 'jnet1jb', 'jnet2jb', 'jnet3jb', 'jprrs2i', 'jpripn', 'jprwhy', 'jpplevr', 'jprfehq', 'jprsehq', 'jpresbgm', 'jpresby4', 'jpresly', 'jprf101', 'jprf102', 'jprf116', 'jprf125', 'jprf131', 'jprf135', 'jprf137', 'jprf139', 'jprf141', 'jprfirn', 'jprearn', 'jprjbbgm', 'jprjbby4', 'jprjbly', 'jprfitb', 'jivpa', 'jivpb', 'jivpc', 'jivpd', 'jivpe', 'jtelwhy', 'jprjbft', 'jtlfiyrl', 'jtlfiyr', 'pid', 'pidp', 'jiviolw', 'jhhmem', 'jnewhy', 'jnemnjn', 'jneyrjn4', 'jivfio', 'jiodc', 'jmemorig', 'jhgr2r', 'jhgsex', 'jhgby', 'jmastat', 'jhgspn', 'jhgemp', 'jhgfno', 'jhgmno', 'jhgra', 'jage', 'jage12', 'jbutype', 'jbuno', 'jnchild', 'jhoh', 'jrach16', 'jsampst', 'jmovest', 'jqfx', 'jqfxc', 'jqfxd', 'jqfxe', 'jqfxf', 'jqfxg', 'jqfxh', 'jqfxk', 'jqfxl', 'jqfxm', 'jqfxn', 'jqfxo', 'jqfxp', 'jqfxq', 'jqfxr', 'jqfedx', 'jqfedxa', 'jnqfexa', 'jqfedxb', 'jnqfexb', 'jqfedxc', 'jnqfexc', 'jqfedxg', 'jnqfexg', 'jqfedxh', 'jnqfexh', 'jqfedxi', 'jnqfexi', 'jqfedxj', 'jnqfexj', 'jqfedxl', 'jnqfexl', 'jregion', 'jhhsize', 'jhhtype', 'jtenure', 'jqfedhi', 'jqfvoc', 'jqfachi', 'jjbft', 'jpayg', 'jpayn', 'jpaygu', 'jpaynu', 'jpaygty', 'jpaygly', 'jpaynty', 'jpaynly', 'jjsprof', 'jjsloss', 'jjspayg', 'jcjsten', 'jcjswk9', 'jjlid', 'jjlyid', 'jjtyid', 'jjbseg', 'jjbgold', 'jjbrgsc', 'jjbcssm', 'jjbcssf', 'jjbhgs', 'jjbsec', 'jnjbwks', 'jnjuwks', 'jnjiwks', 'jnjbnew', 'jnjbsp', 'jnjusp', 'jnjisp', 'jjbstatl', 'jjbstatt', 'jjlseg', 'jjlgold', 'jjlrgsc', 'jjlcssm', 'jjlcssf', 'jjlhgs', 'jjlsec', 'jvote', 'jfiyrdic', 'jfimnp', 'jfimnb', 'jfimni', 'jfimnt', 'jfimnl', 'jfimnnl', 'jfimn', 'jfiyrl', 'jfiyrnl', 'jfiyrp', 'jfiyrb', 'jfiyrt', 'jfiyri', 'jfiyr', 'jfihhmn', 'jhlghq1', 'jhlghq2', 'jspjb', 'jspjbhr', 'jspjbot', 'jsppayg', 'jspjbyr', 'jlrwght', 'jlewght', 'jxrwght', 'jxewght', 'jj2payi', 'jfiyrdii', 'jprearni', 'jprfitbi', 'jpaygui', 'jpaynui', 'jpaygti', 'jpaygli', 'jpaynti', 'jpaynli', 'jjsprofi', 'jjspaygi', 'jfimnpi', 'jfimnbi', 'jfimnii', 'jfimnti', 'jfimnnli', 'jfimnli', 'jfimnthi', 'jfiyrli', 'jfiyrnli', 'jfiyrpi', 'jfiyrbi', 'jfiyrti', 'jfiyrii', 'jfiyeari', 'jsppaygi', 'jfihhmni', 'jmrjend', 'jmrjsic', 'jmrjsemp', 'jmrjboss', 'jmrjmngr', 'jmrjsize', 'jmrjseg', 'jmrjgold', 'jmrjrgsc', 'jmrjcssm', 'jmrjcssf', 'jmrjhgs', 'jmrjsec', 'jpaseg', 'jpagold', 'jpargsc', 'jpacssm', 'jpacssf', 'jpahgs', 'jpasec', 'jmaseg', 'jmagold', 'jmargsc', 'jmacssm', 'jmacssf', 'jmahgs', 'jmasec', 'jj1seg', 'jj1gold', 'jj1rgsc', 'jj1cssm', 'jj1cssf', 'jj1hgs', 'jj1sec', 'jxrwghte', 'jxewghte', 'jfimnsel', 'jxrwtsw1', 'jxewtsw1', 'jxrwtsw2', 'jxewtsw2', 'jlrwtsw1', 'jlewtsw1', 'jlrwtsw2', 'jlewtsw2', 'jsppid', 'jfpid', 'jmpid', 'jdistmov', 'jregion2', 'jisced', 'jcasmin', 'jmasoc_cc', 'jpasoc_cc', 'jjbsoc_cc', 'jjlsoc_cc', 'jj1soc_cc', 'jj2soc_cc', 'jjusoc_cc', 'jjbsocly_cc', 'jspsoc_cc', 'jmrjsoc_cc', 'jjbiscon_cc', 'jjliscon_cc', 'jj1iscon_cc', 'jmaiscon_cc', 'jpaiscon_cc', 'jmrjiscn_cc', 'jjbisco_cc', 'jjlisco_cc', 'jj1isco_cc', 'jmaisco_cc', 'jpaisco_cc', 'jmrjisco_cc', 'jplbornc_cc']

In [6]:
# Loading variables of interest from 1995 BHPS dataset into dataframe
df_residence = df_residence[["jopsocc","jopsocd","jopsoce","jfiyr","jfetype","jage12","jjbstatt","jregion2", "jplbornc_cc"]]

In [8]:
# Dropping rows if they donot have any spatial information
df_residence = df_residence[~df_residence["jregion2"].isin(["don't know", "inapplicable", "missing or wild", "refused"])]

In [19]:
# To view columns
df_residence.head()

,jopsocc,jopsocd,jopsoce,jfiyr,jfetype,jage12,jjbstatt,jregion2,jplbornc_cc,jfetype_encoded,jjbstatt_encoded,jopsocc_encoded
0,Agree,Disagree,Disagree,30849.408203,inapplicable,66.0,Self employed,London,inapplicable,-8,1,2
1,Agree,Neither agree/disagree,Disagree,2553.462891,inapplicable,63.0,Family care,London,inapplicable,-8,6,2
2,proxy and/or phone,proxy and/or phone,proxy and/or phone,0.000000,proxy and/or phone,45.0,proxy and/or phone,London,proxy and/or phone,-7,proxy and/or phone,-7
3,proxy and/or phone,proxy and/or phone,proxy and/or phone,0.000000,proxy and/or phone,19.0,proxy and/or phone,London,proxy and/or phone,-7,proxy and/or phone,-7
4,Agree,Agree,Disagree,6754.799316,inapplicable,21.0,"FT studt, school",London,inapplicable,-8,7,2

In [21]:
df_residence['jopsocc'].value_counts()

Neither agree/disagree    5819
Disagree                  4014
Agree                     3189
don't know                 873
Strongly disagree          579
proxy and/or phone         510
Strongly agree             429
Name: jopsocc, dtype: int64

In [37]:
# create an empty dataframe
output_df = pd.DataFrame()

# Group the dataframe by county and calculate standard deviation of age : "jage12"
output_df["std_dev_age"] = df_residence.groupby("jregion2")["jage12"].agg("std")

# Group the dataframe by county and number of people born in UK : "jplbornc_cc"
output_df["born"] = df_residence.groupby("jregion2")["jplbornc_cc"]

# Assuming inapplicable as people born in UK to all others
def native_share(x):
    pop_count = list(x["born"][1])
    native_count = pop_count.count("inapplicable")/len(pop_count)
    return native_count

# calculating fraction of natives in each county
output_df["native_share"] = output_df.apply(lambda x: native_share(x), axis = 1)

# Dropping "born" groupby column
output_df = output_df.drop(columns = ["born"], axis = 1)

# Creating afetype_dict based on PDF from 2000 BHPS data
jfetype_dict = {"Nursing school etc" : 1, "College of f educ" : 2, "Other trng establmnt" : 3, "Polytechnic" : 4, \
                "University" : 5, "None of the above" : 7, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy and/or phone" : -7, "refused" : -2}


# Create a new column "jfetype_encoded" in the dataframe by replacing the values with encoded values from the dictionary
#df_residence["jfetype_encoded"] = df_residence["jfetype"].replace(jfetype_dict)
df_residence.loc[:, "jfetype_encoded"] = df_residence["jfetype"].replace(jfetype_dict)

# Group the dataframe by county and "jfetype_encoded"
output_df["education"] = df_residence.groupby("jregion2")["jfetype_encoded"]

# function to calculate dissimilarity in education
def dissimilarity_education(x):
    # loads tuple element into job
    job = x["education"][1]
    # loads frequency of each education type in county as list
    freq = list(job.value_counts())
    # calculates total number of groups
    s = len(freq)
    dissim_index = 0
    for i in freq:
        # formula of dissimilarity index
        dissim_index += 0.5 * abs(i-(1/s))
    return dissim_index

def region_name(x):
    return x["education"][0]

output_df["education_variability"] = output_df.apply(lambda x: dissimilarity_education(x), axis = 1)
output_df["region_name"] = output_df.apply(lambda x: region_name(x), axis = 1)

# Dropping "education" groupby column
output_df = output_df.drop(columns = ["education"], axis = 1)

# Creating ajbstatt_dict based on PDF from 2000 BHPS data
jjbstatt_dict = {"Self employed" : 1, "In paid employ" : 2, "Unemployed" : 3, "Retired" : 4, "Maternity leave" : 5, \
                    "Family care" : 6,  "FT studt, school" : 7, " LT sick, disabld" : 8, \
                    "Govt trng scheme" : 9, "Something else" : 10, "don't know" : -1, "missing or wild" : -9, \
                    "inapplicable" : -8, "proxy" : -7, "refused" : -2}


# Create a new column "jjbstatt_encoded" in the dataframe by replacing the values with encoded values from the dictionary
df_residence.loc[:, "jjbstatt_encoded"] = df_residence["jjbstatt"].replace(jjbstatt_dict)

# Group the dataframe by county and calculate the mean and standard deviation of the encoded values
output_df["job"] = df_residence.groupby("jregion2")["jjbstatt_encoded"]

# function to calculate dissimilarity in job
def dissimilarity_job(x):
    job = x["job"][1]
    freq = list(job.value_counts())
    s = len(freq)
    dissim_index = 0
    for i in freq:
        dissim_index += 0.5 * abs(i-(1/s))
    return dissim_index

# function to calculate fraction of employed people within each county
def frac_employed(x):
    job = list(x["job"][1])
    frac_emp = (job.count(2)/len(job))
    return frac_emp

output_df["job_variability"] = output_df.apply(lambda x: dissimilarity_job(x), axis = 1)
output_df ["frac_employed"] = output_df.apply(lambda x: frac_employed(x), axis = 1)

# Dropping "education" groupby column
output_df = output_df.drop(columns = ["job"], axis = 1)

# replacing all Not-A-Number cases to zero i.e., proxy values
#df_residence["jfiyr"] = df_residence["jfiyr"].replace("proxy and/or phone",0)
df_residence.loc[:, "jfiyr"] = df_residence["jfiyr"].replace("proxy and/or phone",0).astype("float32")

# Group the dataframe by county and calculate median based on self-reported annual income: "jfiyr"
output_df["median_income"] = df_residence.groupby("jregion2")["jfiyr"].agg(["median"])

# convert "afiyr" column to float data type
#df_residence["jfiyr"] = df_residence["jfiyr"].astype("float32")

# group incomes by county
output_df["income"] = df_residence.groupby("jregion2")["jfiyr"]

def gini_index(x):
    data = list(x["income"][1])
    # sort the data in ascending order
    sorted_data = np.sort(data)
    # calculate the cumulative sum of the sorted data
    cumsum_data = np.cumsum(sorted_data)
    # calculate the Lorenz curve values
    lorenz_curve = cumsum_data / cumsum_data[-1]
    # calculate the area under the Lorenz curve
    area_lorenz_curve = np.trapz(lorenz_curve, dx=1/len(data))
    # calculate the Gini index
    gini_index = 1 - 2 * area_lorenz_curve
    return gini_index

output_df["gini_index"] = output_df.apply(lambda x : gini_index(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["income"], axis = 1)

output_df

C:\Users\ramak\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index
jregion2,,,,,,,,
East Midlands,18.275323,0.958919,462.0,East Midlands,462.0,0.511351,8678.310547,0.449646
East of England,18.773603,0.959739,459.0,East of England,459.0,0.503808,9591.965820,0.493658
London,18.378665,0.923409,463.0,London,463.0,0.514563,10688.221680,0.505179
North East,18.756243,0.974206,251.5,North East,251.5,0.466270,8281.648438,0.456207
North West,18.888780,0.972397,633.5,North West,633.5,0.495268,9418.572266,0.455936
Scotland,18.180234,0.969923,1745.0,Scotland,1745.0,0.486107,8709.897461,0.453888
South East,18.342758,0.952381,734.5,South East,734.5,0.521769,10013.899414,0.463005
South West,19.189720,0.958635,483.0,South West,483.0,0.490176,8671.809570,0.472033
Wales,18.570539,0.959347,1500.0,Wales,1500.0,0.410863,8300.000000,0.468485
West Midlands,18.821393,0.971787,478.0,West Midlands,478.0,0.500522,8520.920898,0.446613
Yorkshire & Humber,19.155504,0.966463,491.5,Yorkshire & Humber,491.5,0.462398,8283.302734,0.458670

In [38]:
# Define the dictionary to encode the "jopsocc" column which is Statement 1 (S1)
# S1: "Private enterprise is the best way to solve Britains economic problems."
jopsocc_dict = {"Strongly agree": 1,"Agree":2, "Not agree, disagree": 3 , "Disagree":4 , "Strongly disagree": 5,
                "don't know": -1 , "missing or wild": -9, "inapplicable":-8,
                "proxy and/or phone":-7, "refused":-2, "Neither agree/disagree":0}

# Create a new column "jopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
#df_residence["jopsocc_encoded"] = df_residence["jopsocc"].replace(jopsocc_dict)
df_residence.loc[:, "jopsocc_encoded"] = df_residence["jopsocc"].replace(jopsocc_dict)

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S1"] = df_residence.groupby("jregion2")["jopsocc_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("jregion2")["jopsocc_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("jregion2")["jopsocc_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S1"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and jopsocc_encoded values
output_df["dkp"] = df_residence.groupby("jregion2")["jopsocc_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S1"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

output_df

C:\Users\ramak\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1
jregion2,,,,,,,,,,,
East Midlands,18.275323,0.958919,462.0,East Midlands,462.0,0.511351,8678.310547,0.449646,5.897372,1.818378,0.001149
East of England,18.773603,0.959739,459.0,East of England,459.0,0.503808,9591.965820,0.493658,5.312424,1.746464,0.001776
London,18.378665,0.923409,463.0,London,463.0,0.514563,10688.221680,0.505179,7.371926,2.165049,0.003747
North East,18.756243,0.974206,251.5,North East,251.5,0.466270,8281.648438,0.456207,5.246600,2.007937,0.000443
North West,18.888780,0.972397,633.5,North West,633.5,0.495268,9418.572266,0.455936,5.196530,1.832808,0.005411
Scotland,18.180234,0.969923,1745.0,Scotland,1745.0,0.486107,8709.897461,0.453888,5.418960,2.101690,0.001089
South East,18.342758,0.952381,734.5,South East,734.5,0.521769,10013.899414,0.463005,5.743897,1.767347,0.000971
South West,19.189720,0.958635,483.0,South West,483.0,0.490176,8671.809570,0.472033,5.408182,1.805584,0.003612
Wales,18.570539,0.959347,1500.0,Wales,1500.0,0.410863,8300.000000,0.468485,6.236510,2.132956,0.003785
West Midlands,18.821393,0.971787,478.0,West Midlands,478.0,0.500522,8520.920898,0.446613,4.730679,1.735632,0.001685
Yorkshire & Humber,19.155504,0.966463,491.5,Yorkshire & Humber,491.5,0.462398,8283.302734,0.458670,5.581851,1.857724,0.001375

In [31]:
# Define the dictionary to encode the "jopsocd" column which is Statement 2 (S2)
# S2: "Major public services and industries ought to be in state ownership."

jopsocd_dict = {"Strongly agree": 1,"Agree":2, "Not agree, disagree": 3 , "Disagree":4 , "Strongly disagree": 5,
                "don't know": -1 , "missing or wild": -9, "inapplicable":-8, "proxy and/or phone":-7, "refused":-2, "Neither agree/disagree":0}

# Create a new column "jopsocc_encoded" in the dataframe by replacing the values with encoded values from the dictionary
#df_residence["jopsocd_encoded"] = df_residence["jopsocd"].replace(jopsocd_dict)
df_residence.loc[:, "jopsocd_encoded"] = df_residence["jopsocd"].replace(jopsocd_dict)

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S2"] = df_residence.groupby("jregion2")["jopsocd_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("jregion2")["jopsocd_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("jregion2")["jopsocd_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S2"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and jopsocc_encoded values
output_df["dkp"] = df_residence.groupby("jregion2")["jopsocd_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S2"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

C:\Users\ramak\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [33]:
# Define the dictionary to encode the "jopsocd" column which is Statement 3 (S3)
# S3: "It is the governments responsibility to provide a job for everyone who wants one."

jopsoce_dict = {"Strongly agree": 1,"Agree":2, "Not agree, disagree": 3 , "Disagree":4 , "Strongly disagree": 5,
                "don't know": -1 , "missing or wild": -9, "inapplicable":-8, "proxy and/or phone":-7, "refused":-2, "Neither agree/disagree":0}

# Create a new column "jopsocd_encoded" in the dataframe by replacing the values with encoded values from the dictionary
#df_residence["jopsoce_encoded"] = df_residence["jopsoce"].replace(jopsoce_dict)
df_residence.loc[:, "jopsoce_encoded"] = df_residence["jopsoce"].replace(jopsoce_dict)

# Political polarization measurement by Lindqvist and Ostling (2010)
output_df["Lindqvist_Ostling_S3"] = df_residence.groupby("jregion2")["jopsoce_encoded"].agg(["var"])

# Create new columns based on absolute sum of encoded values of opinions and counts
output_df["abs_sum"] = df_residence.groupby("jregion2")["jopsoce_encoded"].apply(lambda x: x.abs().sum())
output_df["counts"] = df_residence.groupby("jregion2")["jopsoce_encoded"].apply(lambda x: x.count())

# Political polarization measurement by Abramowitz and Saunders (2008)
output_df["Abramowitz_Saunders_S3"] = output_df.apply(lambda x: x["abs_sum"]/x["counts"], axis = 1)

output_df = output_df.drop(columns = ["abs_sum", "counts"], axis = 1)

# Group the dataframe by county and eopsocc_encoded values
output_df["dkp"] = df_residence.groupby("jregion2")["jopsoce_encoded"]

# Political polarization measurement by Duca and Saving (2016)
def duca_saving(x):
    county_tuple = x["dkp"]
    freq = list(county_tuple[1].value_counts())
    val = list(county_tuple[1].unique())
    norm_freq = [i/sum(freq) for i in freq]
    outer_sum = 0
    for i in range(len(norm_freq)):
        nkit = norm_freq[i]
        inner_sum = 0
        for j in range(len(norm_freq)):
            npit = norm_freq[j]
            dkp = abs(val[i] - val[j])
            inner_sum += npit*dkp
    outer_sum += (nkit**2)*inner_sum
    
    return outer_sum

output_df["Duca_Saving_S3"] = output_df.apply(lambda x: duca_saving(x), axis = 1)

# Drop "income" groupby column
output_df = output_df.drop(columns = ["dkp"], axis = 1)

output_df

C:\Users\ramak\anaconda3\lib\site-packages\pandas\core\indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1,Lindqvist_Ostling_S2,Abramowitz_Saunders_S2,Duca_Saving_S2,Lindqvist_Ostling_S3,Abramowitz_Saunders_S3,Duca_Saving_S3
jregion2,,,,,,,,,,,,,,,,,
East Midlands,18.275323,0.958919,462.0,East Midlands,462.0,0.511351,8678.310547,0.449646,5.897372,1.818378,0.001149,6.021287,2.073514,0.004556,5.426529,2.431351,0.000332
East of England,18.773603,0.959739,459.0,East of England,459.0,0.503808,9591.965820,0.493658,5.312424,1.746464,0.001776,5.837405,2.103373,0.002660,5.491104,2.424374,0.000600
London,18.378665,0.923409,463.0,London,463.0,0.514563,10688.221680,0.505179,7.371926,2.165049,0.003747,7.044562,2.200647,0.001940,7.087800,2.576052,0.000524
North East,18.756243,0.974206,251.5,North East,251.5,0.466270,8281.648438,0.456207,5.246600,2.007937,0.000443,5.040420,2.125000,0.002369,3.750813,2.289683,0.000043
North West,18.888780,0.972397,633.5,North West,633.5,0.495268,9418.572266,0.455936,5.196530,1.832808,0.005411,5.044189,1.998423,0.006982,4.326658,2.303628,0.001881
Scotland,18.180234,0.969923,1745.0,Scotland,1745.0,0.486107,8709.897461,0.453888,5.418960,2.101690,0.001089,4.487819,1.983099,0.001750,3.831592,2.314237,0.000429
South East,18.342758,0.952381,734.5,South East,734.5,0.521769,10013.899414,0.463005,5.743897,1.767347,0.000971,6.004209,2.117687,0.002050,6.016914,2.534694,0.000174
South West,19.189720,0.958635,483.0,South West,483.0,0.490176,8671.809570,0.472033,5.408182,1.805584,0.003612,5.725100,2.091003,0.003493,5.459520,2.519131,0.000141
Wales,18.570539,0.959347,1500.0,Wales,1500.0,0.410863,8300.000000,0.468485,6.236510,2.132956,0.003785,5.326765,2.058980,0.003226,5.034431,2.377208,0.000773
West Midlands,18.821393,0.971787,478.0,West Midlands,478.0,0.500522,8520.920898,0.446613,4.730679,1.735632,0.001685,4.876276,2.032393,0.001902,4.178338,2.412748,0.000548
Yorkshire & Humber,19.155504,0.966463,491.5,Yorkshire & Humber,491.5,0.462398,8283.302734,0.458670,5.581851,1.857724,0.001375,5.236607,1.946138,0.002122,4.828160,2.327236,0.000133

In [34]:
output_df.reset_index(drop=True, inplace=True)
output_df

,std_dev_age,native_share,education_variability,region_name,job_variability,frac_employed,median_income,gini_index,Lindqvist_Ostling_S1,Abramowitz_Saunders_S1,Duca_Saving_S1,Lindqvist_Ostling_S2,Abramowitz_Saunders_S2,Duca_Saving_S2,Lindqvist_Ostling_S3,Abramowitz_Saunders_S3,Duca_Saving_S3
0,18.275323,0.958919,462.0,East Midlands,462.0,0.511351,8678.310547,0.449646,5.897372,1.818378,0.001149,6.021287,2.073514,0.004556,5.426529,2.431351,0.000332
1,18.773603,0.959739,459.0,East of England,459.0,0.503808,9591.965820,0.493658,5.312424,1.746464,0.001776,5.837405,2.103373,0.002660,5.491104,2.424374,0.000600
2,18.378665,0.923409,463.0,London,463.0,0.514563,10688.221680,0.505179,7.371926,2.165049,0.003747,7.044562,2.200647,0.001940,7.087800,2.576052,0.000524
3,18.756243,0.974206,251.5,North East,251.5,0.466270,8281.648438,0.456207,5.246600,2.007937,0.000443,5.040420,2.125000,0.002369,3.750813,2.289683,0.000043
4,18.888780,0.972397,633.5,North West,633.5,0.495268,9418.572266,0.455936,5.196530,1.832808,0.005411,5.044189,1.998423,0.006982,4.326658,2.303628,0.001881
5,18.180234,0.969923,1745.0,Scotland,1745.0,0.486107,8709.897461,0.453888,5.418960,2.101690,0.001089,4.487819,1.983099,0.001750,3.831592,2.314237,0.000429
6,18.342758,0.952381,734.5,South East,734.5,0.521769,10013.899414,0.463005,5.743897,1.767347,0.000971,6.004209,2.117687,0.002050,6.016914,2.534694,0.000174
7,19.189720,0.958635,483.0,South West,483.0,0.490176,8671.809570,0.472033,5.408182,1.805584,0.003612,5.725100,2.091003,0.003493,5.459520,2.519131,0.000141
8,18.570539,0.959347,1500.0,Wales,1500.0,0.410863,8300.000000,0.468485,6.236510,2.132956,0.003785,5.326765,2.058980,0.003226,5.034431,2.377208,0.000773
9,18.821393,0.971787,478.0,West Midlands,478.0,0.500522,8520.920898,0.446613,4.730679,1.735632,0.001685,4.876276,2.032393,0.001902,4.178338,2.412748,0.000548
10,19.155504,0.966463,491.5,Yorkshire & Humber,491.5,0.462398,8283.302734,0.458670,5.581851,1.857724,0.001375,5.236607,1.946138,0.002122,4.828160,2.327236,0.000133

In [35]:
output_df.to_csv(r"C:\Users\ramak\Desktop\Geog573_Lab\Geog_575_final_project\Final_output\polarization2000_data.csv")